header{
    border-radius: 20px;
    width: 50%;
    height: 50%;
    padding: 10px;
    background-color: rgb(3, 175, 66);
    margin: 30px auto;
    text-align: center;
    box-shadow: 4px 4px 12px  #fff;
}
.titulo{
 
}